.pomo {
  display: inline-block;
  text-align: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;
}

.time {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  text-align: left;
  width: 100%;
  font-size: 9em;
  color: white;
  font-weight: bold;
}

.buttons {
  position: absolute;
  border: 2px solid white;
  border-radius: 2px;
}

button {
  color: white;
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 1.2em;
  transition: 1.5s all cubic-bezier(0.23, 1, 0.320, 1)
}

button:hover {
  background: darkgray;
}