.App {
  text-align: center;
  height: 100vh;
  display: relative;
}

.logo {
  position: absolute;
  font-size: 2.5em;
  font-weight: bold;
  left: 5%;
  top: 5.8%;
  z-index: 100;
}

span {
  color: #FF695B;
  font-weight: bold;
}

.desc {
  position: absolute;
  width: 15em;
  text-align: left;
  bottom: 20%;
  font-weight: 400;
  font-size: 1.1em;
  left: 3%;
}

.gray-rect {
  position: absolute;
  left: 5%;
  top: 10%;
  background: lightgray;
  width: 90%;
  height: 80%;
  margin: auto;
}

.copyright {
  color: gray;
  position: absolute;
  bottom: 4%;
  left: 5%;
}